* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 800px;
  border: 1px solid black;
}

.add-button {
  display: grid;
  justify-content: end;
}
