@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0efeb;
  font-family: "Merriweather", serif;
}
.container {
  position: relative;
}
.table {
  vertical-align: middle;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
